server:
  port: 8080

eureka:
  client:
    serviceUrl:
      defaultZone: http://localhost:8761/eureka/

spring:
  application:
    name: api-gateway
  cloud:
    gateway:
      discovery:
        locator:
          enabled: true
          lower-case-service-id: true
      routes:
        - id: vol-service
          uri: lb://VOL-SERVICE
          predicates:
            - Path=/vols/**
        - id: hotel-service
          uri: lb://HOTEL-SERVICE
          predicates:
            - Path=/hotels/**
        - id: booking-service
          uri: lb://BOOKING-SERVICE
          predicates:
            - Path=/reservations/**
