server:
  port: 8080

spring:
  application:
    name: api-gateway
  cloud:
    gateway:
      routes:
        - id: vol-service
          uri: lb://vol-service
          predicates:
            - Path=/vols/**
          filters:
            - RewritePath=/vols/(?<segment>.*), /vols/vols/${segment}

        - id: hotel-service
          uri: lb://hotel-service
          predicates:
            - Path=/hotels/**
          filters:
            - RewritePath=/hotels/(?<segment>.*), /hotels/${segment}

        - id: booking-service
          uri: lb://booking-service
          predicates:
            - Path=/reservations/**
          filters:
            - RewritePath=/reservations/(?<segment>.*), /reservations/${segment}

management:
  endpoints:
    web:
      exposure:
        include: "*"

eureka:
  instance:
    hostname: localhost
    prefer-ip-address: true
  client:
    fetch-registry: true
    register-with-eureka: true
    serviceUrl:
      defaultZone: http://localhost:8761/eureka/
