server:
  port: 8080

spring:
  application:
    name: api-gateway
  cloud:
    gateway:
      discovery:
        locator:
          enabled: true
          lower-case-service-id: true
      routes:
        - id: vol-service
          uri: lb://vol-service
          predicates:
            - Path=/vols/**
        - id: hotel-service
          uri: lb://hotel-service
          predicates:
            - Path=/hotels/**
        - id: booking-service
          uri: lb://booking-service
          predicates:
            - Path=/reservations/**

eureka:
  client:
    serviceUrl:
      defaultZone: http://localhost:8761/eureka/
