server:
  port: 8081

spring:
  application:
    name: vol-service

  cloud:
    config:
      enabled: false

  datasource:
    url: jdbc:h2:mem:voldb
    driverClassName: org.h2.Driver
    username: sa
    password: password

  jpa:
    hibernate:
      ddl-auto: create-drop

  data:
    rest:
      base-path: /

eureka:
  instance:
    prefer-ip-address: true
  client:
    serviceUrl:
      defaultZone: http://localhost:8761/eureka/
